HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
# MacOS 시스템 파일
.DS_Store

# IntelliJ IDEA 관련 파일
.idea/

# 로그 파일 및 임시 파일

*.log
*.tmp

# 빌드 폴더
/build/

git rm -r --cached .
git add .
git commit -m "Update .gitignore and remove ignored files"





